.container label {
	text-transform: capitalize;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	display: block;
	font-family: sans-serif;
}

.container .pills {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.75rem 0 0;
	padding: 0;
}